<!-- sidebar_top.html -->
<aside>
    <div class="top">
        <div class="logo">
            <h2>Learn<span class="danger">Hub</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-outlined">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="#" class="active">
            <span class="material-symbols-outlined">grid_view</span>
            <h3>Acceuil</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">person_outline</span>
            <h3>Utilisateurs</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">menu_book</span>
            <h3>Cours</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">mail_outline</span>
            <h3>Messages</h3>
            <span class="message-count">26</span>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">inventory</span>
            <h3>Factures</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">logout</span>
            <h3>Déconnexion</h3>
        </a>
    </div>
</aside>

<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="theme-toggler">
            <span class="material-symbols-outlined active">light_mode</span>
            <span class="material-symbols-outlined">dark_mode</span>
        </div>
    </div>
</div>
